version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - postgres
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  postgres:
    image: postgis/postgis:15-3.4
    container_name: laravel_postgres
    environment:
      POSTGRES_DB: laravel_db
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5434:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - laravel


  tileserver:
    image: maptiler/tileserver-gl
    container_name: offline_tileserver
    volumes:
      - ./tileserver/data:/data
    ports:
      - "8081:8080"
    networks:
      - laravel
    restart: unless-stopped


networks:
  laravel:
    driver: bridge


volumes:
  pg_data:
